@import-less url("../theme.less");

pre.result {
  white-space: pre-wrap;
  word-break: break-word;
  overflow: auto scroll;
  max-height: 30ex;
  margin: 1ex;
}
div.fdp-post-warnings-area {
  color: red;
}
