div.metadata-dialog {
  width: 800px;
  max-width: 100%;
  max-height: 100%;
  height: 400px;
  display: flex;
  flex-flow: column;
}
div.metadata-dialog > div.dialog-header {
  display: flex;
  align-items: center;
}
div.metadata-dialog > div.dialog-header > div.dialog-title {
  flex-grow: 1;
}
div.metadata-dialog > div.dialog-body {
  overflow: auto;
  flex-grow : 1;
}

div.fdp-connect-warnings-area {
  color: red;
  text-align: center;
}
div#fdp-connection-error,
div#fdp-connected{
  margin: 0.5em;
  padding: 0.7em;
  border-top: 1px solid #AAA;
}

form#fdp-post-form {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 700px;
}

form#fdp-post-form label {
  font-weight: bold;
}

form#fdp-post-form div#fdp-group {
  flex-grow: 1;
}

form#fdp-post-form div#uri-group,
form#fdp-post-form div#fdp-connection-group {
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  display: flex;
  align-items: center;
}

form#fdp-post-form div#uri-group input,
form#fdp-post-form div#fdp-connection-group select {
  flex-grow: 1;
  margin-left: 0.5em;
  width: auto;
}

form#fdp-post-form div.fdp-form-buttons {
  margin-left: 0.5em;
}

form#fdp-post-form div#credentials-group {
  display: flex;
  align-items: center;
}
form#fdp-post-form div#credentials-group > div {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
form#fdp-post-form div#credentials-group > div:first-child {
  margin-right: 1em;
}
form#fdp-post-form div#credentials-group > div > input {
  flex-grow: 1;
  margin-left: 0.5em;
}
#fdp-metadata p {
  padding: 0.2em;
}
#fdp-metadata td,
#fdp-metadata th {
  padding: 0.2em;
}

div#metadata-layers {
  margin-top: 0.5em;
}
div#metadata-layers div.metadata-layer {
  margin-top: 1em;
}
div#metadata-layers label.layer-title {
  font-weight: bold;
  margin-bottom: 0.5em;
  display: block;
  font-size: 120%;
}
div#metadata-layers div.layer-form {
  display: flex;
  justify-content: center;
  padding: 0 1em;
}
div#metadata-layers div.layer-form > select,
div#metadata-layers div.layer-form > ul.distributions-list {
  flex-grow: 1;
  margin-right: 1em;
}
div#metadata-layers div.layer-form > button {
  max-height: 2em;
}
