form.store-data-form {
  padding: 0.7em;
  max-width: 500px;
  margin: 0 auto;
}

form.store-data-form div.form-group {
  align-items: center;
  margin-bottom: 1em;
}

form.store-data-form div.form-group > label {
  font-weight: bold;
  display: block;
}

form.store-data-form div.form-group > input,
form.store-data-form div.form-group > textarea,
form.store-data-form div.form-group > select {
  width: 100%;
}
