<assembly xmlns="http://maven.apache.org/ASSEMBLY/2.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/2.0.0 http://maven.apache.org/xsd/assembly-2.0.0.xsd">
    <id>OpenRefine-3.2</id>
    <includeBaseDirectory>true</includeBaseDirectory>
    <baseDirectory>metadata</baseDirectory>
    <formats>
        <format>tgz</format>
        <format>zip</format>
    </formats>
    <fileSets>
        <fileSet>
            <directory>./</directory>
            <outputDirectory>./</outputDirectory>
            <includes>
                <include>LICENSE</include>
                <include>README.md</include>
            </includes>
        </fileSet>
        <fileSet>
            <directory>src/main/resources/module</directory>
            <outputDirectory>module</outputDirectory>
        </fileSet>
        <fileSet>
            <directory>src/main/java</directory>
            <outputDirectory>module/MOD-INF/classes</outputDirectory>
            <excludes>
                <exclude>**/*.java</exclude>
            </excludes>
        </fileSet>
    </fileSets>
    <dependencySets>
        <dependencySet>
            <outputDirectory>module/MOD-INF/lib</outputDirectory>
        </dependencySet>
    </dependencySets>
</assembly>
